@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  display: flex;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}


.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.funnytext  {
  position: relative;
  z-index: 2;
  font-size: 10em;
  letter-spacing: 15px;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-shadow: 1px 1px hsl(50, 50%, 45%),
               2px 2px hsl(50, 50%, 40%),
               3px 3px hsl(50, 50%, 35%),
               4px 4px hsl(50, 50%, 34%),
               5px 5px hsl(50, 50%, 33%),
               6px 6px hsl(50, 50%, 32%),
               7px 7px hsl(50, 50%, 31%),
               8px 8px hsl(50, 50%, 30%),
               9px 9px hsl(50, 50%, 29%),
               10px 10px hsl(50, 50%, 28%),
               10px 10px 30px rgba(0,0,0,.7),
}

