@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  display: flex;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: beige;
}


.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: beige;
}


